/* You can add global styles to this file, and also import other style files */

/* Provide sufficient contrast against white background */
@import '~@angular/material/prebuilt-themes/indigo-pink.css';

@font-face {
  font-family: 'Material Icons';
  font-style: normal;
  font-weight: 400;
  src: url(./assets/icon/flUhRq6tzZclQEJ-Vdg-IuiaDsNc.woff2) format('woff2');
}
@font-face {
  font-family: "OpenSans";
  font-style: normal;
  font-weight: 400;
  src: local("OpenSans"), url(./assets/font/OpenSans-Regular.ttf) format("truetype");
}

.material-icons {
  font-family: 'Material Icons';
  font-weight: normal;
  font-style: normal;
  font-size: 24px;
  line-height: 1;
  letter-spacing: normal;
  text-transform: none;
  display: inline-block;
  white-space: nowrap;
  word-wrap: normal;
  direction: ltr;
  -webkit-font-smoothing: antialiased;
}
a {
  color: #0366d6;
}

code {
  color: #e01a76;
}
body {
  font-family: 'OpenSans' !important;
  background-color: rgb(117, 11, 11);
}
.th-center{
  text-align: center;
}
.th-left{
  text-align: left;
}
.th-right{
  text-align: right;
}
.content{
  padding: 2rem 1rem 1rem 2rem;
}

.grid{
  height: 28em;
  overflow: auto;
}

::-webkit-scrollbar {
  width: 10px;
  height: 6px;
  border-radius: 30px;
  background-color: rgba(0, 0, 0, 0.1);
}

::-webkit-scrollbar-thumb {
  border-radius: 30px;
  background-color:#3f51b5; 
}

::-webkit-scrollbar-button,
::-webkit-scrollbar-track,
::-webkit-scrollbar-track-piece,
::-webkit-scrollbar-corner,
::-webkit-resizer {
  display: none;
}
.btn{
  border: 2px solid  #3f51b5 !important
}
.btn:hover{
  background-color:  #3f51b5 !important
}
.btn:hover span{
  color: white !important
}
