<div class="container">
  <br>
  <div class="row">
    <form class="invoice-form col-lg-12" [formGroup]="invoiceFrom">
      <mat-form-field class="col-lg-4">
        <input matInput [matDatepicker]="frompicker" formControlName="fromDate" placeholder="Invoice From Date">
        <mat-datepicker-toggle matSuffix [for]="frompicker"></mat-datepicker-toggle>
        <mat-datepicker #frompicker></mat-datepicker>
      </mat-form-field>
      <mat-form-field class="col-lg-4">
        <input matInput [matDatepicker]="topicker" formControlName="toDate" placeholder="Invoice To Date">
        <mat-datepicker-toggle matSuffix [for]="topicker"></mat-datepicker-toggle>
        <mat-datepicker #topicker></mat-datepicker>
      </mat-form-field>
      <label class="col-lg-4">
        <span class="spanPadding">
          <strong> Net Sales : </strong></span>
        {{netSales}}
      </label>
    </form>
  </div>
  <br>
  <div class="row">
    <div class="col-lg-12">
      <input class="form-control" type="text" name="search" [(ngModel)]="searchText" autocomplete="off"
        placeholder="&#61442; Search for a Invoice">
    </div>
  </div>
  <br>
  <div class="row">
    <div class="invoice-table mat-elevation-z8 col-lg-12 grid scroll">
      <mat-table [dataSource]="invoiceDetails  | filter:searchText">

        <ng-container matColumnDef="invoiceId">
          <mat-header-cell *matHeaderCellDef [ngClass]="'invoice-id'">Invoice Id</mat-header-cell>
          <mat-cell *matCellDef="let element"> {{element.invoiceId}} </mat-cell>
        </ng-container>


        <ng-container matColumnDef="invoiceDescription">
          <mat-header-cell *matHeaderCellDef> Invoice Description </mat-header-cell>
          <mat-cell *matCellDef="let element"> {{element.invoiceDescription}} </mat-cell>
        </ng-container>

        <ng-container matColumnDef="invoiceDate">
          <mat-header-cell *matHeaderCellDef> Invoice Date </mat-header-cell>
          <mat-cell *matCellDef="let element"> {{element.invoiceDate | date: 'dd/MM/yyyy'}} </mat-cell>
        </ng-container>

        <ng-container matColumnDef="netTotal">
          <mat-header-cell *matHeaderCellDef> Net Price </mat-header-cell>
          <mat-cell *matCellDef="let element"> {{element.netTotal}} </mat-cell>
        </ng-container>

        <ng-container matColumnDef="action">
          <mat-header-cell *matHeaderCellDef> Action </mat-header-cell>
          <mat-cell *matCellDef="let element">
            <button mat-icon-button color="accent"(click)="EditInvoice(element.invoiceId)" title="Edit Invoice">
              <mat-icon>edit</mat-icon>
            </button>
            <button mat-icon-button color="accent" (click)="DeleteInvoice(element.invoiceId)" title="Delete Invoice">
              <mat-icon>delete</mat-icon>
            </button>
          </mat-cell>
        </ng-container>
        <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
        <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
      </mat-table>
    </div>
  </div>
</div>