.scroll-grid{
  height: 28em;
  overflow-y: auto;
}
.mat-column-invoiceId {
  flex: 0 0 20% !important;
  text-align: center;
  display: inline-block;
  min-block-size: fit-content
}
.mat-column-invoiceDescription {
  flex: 0 0 30% !important;
  text-align: center;
  display: inline-block;
  min-block-size: fit-content
}
.mat-column-invoiceDate {
  flex: 0 0 20% !important;
  text-align: center;
  display: inline-block;
  min-block-size: fit-content
}
.mat-column-netTotal {
  flex: 0 0 20% !important;
  text-align: center;
  display: inline-block;
  min-block-size: fit-content
}
.mat-column-action {
  flex: 0 0 10% !important;
  text-align: center;
  display: inline-block;
  min-block-size: fit-content
}