<div class="container">
  <div class="row">
    <div class="col-lg-1"></div>
    <div class="col-lg-10">
      <input class="form-control" type="text" name="search" [(ngModel)]="searchText" autocomplete="off"
        placeholder="&#61442; Search for a Invoice">
    </div>
    <div class="col-lg-1"></div>
  </div>
  <br>
  <div class="row">
    <div class="col-lg-1"></div>
    <div class="invoice-table mat-elevation-z8 col-lg-10">
      <mat-table [dataSource]="invoiceDetails  | filter:searchText">

        <ng-container matColumnDef="invoiceId">
          <mat-header-cell *matHeaderCellDef [ngClass]="'invoice-id'">Invoice Id</mat-header-cell>
          <mat-cell *matCellDef="let element"> {{element.invoiceId}} </mat-cell>
        </ng-container>


        <ng-container matColumnDef="invoiceDescription">
          <mat-header-cell *matHeaderCellDef> Invoice Description </mat-header-cell>
          <mat-cell *matCellDef="let element"> {{element.invoiceDescription}} </mat-cell>
        </ng-container>

        <ng-container matColumnDef="invoiceDate">
          <mat-header-cell *matHeaderCellDef> Invoice Date </mat-header-cell>
          <mat-cell *matCellDef="let element"> {{element.invoiceDate}} </mat-cell>
        </ng-container>

        <ng-container matColumnDef="netTotal">
          <mat-header-cell *matHeaderCellDef> Net Price </mat-header-cell>
          <mat-cell *matCellDef="let element"> {{element.netTotal}} </mat-cell>
        </ng-container>


        <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
        <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
      </mat-table>
    </div>
    <div class="col-lg-1"></div>
  </div>
</div>